data/*
!data/weights.yaml
!data/rime-luna-pinyin


# Beyond Input Method
```gitignore
/bim/*
!/bim/default.yaml
!/bim/info.yaml

.envrc

*.py[codz]
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python
